/*Обнуление*/
*{padding:0;margin:0;border:0;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}


body {
  background-color: rgb(40, 50, 59);
  display: flex;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgba(239, 253, 242, 0.432);
  padding: 30px;
  border-radius: 4px;
  margin: 0 auto;
  width: 900px;
}

.main__title {
  font-size: 32px;
}

.main__input {
  width: 832px;
  border-radius: 4px;
}

.keyboard__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.keyboard__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  color: aliceblue;
}

.keyboard__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(33, 37, 37);
  height: 44px;
  border-radius: 4px;
  transition: 0.2s linear; 
  cursor: pointer;
}

.keyboard__btn:hover{
  background-color: rgb(74, 102, 86);
}

.btn-key {
  width: 44px;
}

.btn-backspace {
  width: 130px;
  font-size: 16px;
}

.btn-tab {
  width: 87px;
  font-size: 16px;
}

.btn-del {
  width: 87px;
  font-size: 16px;
}

.btn-caps {
  width: 80px;
  font-size: 16px;
}

.btn-enter {
  width: 95px;
  font-size: 16px;
}

.btn-shift {
  width: 114px;
  font-size: 16px;
}

.btn-space {
  width: 260px;
}

.main__notice {
  font-size: 24px;
  margin-top: 20px;
}